.main-body {
	text-align: center;
	padding: 20px;
	background-image: linear-gradient(#e6eeff, #b3ffb3);
}

.city-box {
  border-style: solid;
  font-size: 1.1em;
  border-width: 1px;
  padding: 2px;
  background-color: #ebebe0;
}

.appTitle h2 {
	margin: 0px;
}

.allDays {
	background-color: #ebebe0;
	font-size: 1.1em;
}

.day {
	border-style: solid;
	border-width: 1px;
	display: flex;
}

.day div {
	border-left-style: dotted;
	border-right-style: dotted;
	border-width: 1px;
}

.daysHeading {
	border-style: solid;
	border-width: 1px;
	background-color: #c2c2ba;
	display: flex;
}

.temp-min {
	background-color: #e6ffff;
}

.temp-max {
	background-color: #ffe6e6;
}

.metric-button {
	padding: 5px;
}

.map-col {
	height: 40vh; 
}

.map-container {
	padding: 10px 0px;
}